In [1]:
import pandas as pd

data_list = [
    ['Plastik', 5, True],
    ['Kertas', 2, True],
    ['Logam', 3, True],
    ['Kaca', 4, False]
]

df_list = pd.DataFrame(data_list, columns=['Jenis', 'Berat (kg)', 'Daur Ulang']) # Dp_list Tipe Data DAtaFrame Dan Memiliki Columns
print(df_list)

     Jenis  Berat (kg)  Daur Ulang
0  Plastik           5        True
1   Kertas           2        True
2    Logam           3        True
3     Kaca           4       False

In [4]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
df_list.to_csv('coba.csv', index=False) # Mengubah Menjadi CSV

In [ ]:
df_list['Jenis'] # Memunculkan Data Yang Ada DI Kolom Jenis

0    Plastik
1     Kertas
2      Logam
3       Kaca
Name: Jenis, dtype: object

In [5]:
# Mengubah Data Array Menjadi DataFrame
import pandas as pd
import numpy as np

data_array = np.array([
    ['Plastik', 5, True],
    ['Kertas', 2, True],
    ['Logam', 3, True],
    ['Kaca', 4, False]
])

df_array = pd.DataFrame(data_array, columns=['Jenis', 'Berat (kg)', 'Daur Ulang'])
print(df_array)

     Jenis Berat (kg) Daur Ulang
0  Plastik          5       True
1   Kertas          2       True
2    Logam          3       True
3     Kaca          4      False

In [6]:
df_array.to_csv('coba.1', index=False) # Mengubah Menjadi CSV

In [7]:
# Mengubah Data Dictionary JAdi DataFrame Key Nya Jadi Kolom Nya
import pandas as pd

data_kamus = {
    'Jenis': ['Plastik', 'Kertas', 'Logam', 'Kaca'],
    'Berat (kg)': [5, 2, 3, 4],
    'Daur Ulang': [True, True, True, False]
}

df_kamus = pd.DataFrame(data_kamus)
print(df_kamus)

     Jenis  Berat (kg)  Daur Ulang
0  Plastik           5        True
1   Kertas           2        True
2    Logam           3        True
3     Kaca           4       False

In [ ]:
# Mengakses Data Dalam Baris Ke Baris Ke 0 Pakai loc Mengakses Baris Berdasar Labelnya Kalau Iloc Yang Dipanggil Indeks Nya
print(df_array.loc[0])

Jenis         Plastik
Berat (kg)          5
Daur Ulang       True
Name: 0, dtype: object

In [ ]:
# Mengakses Baris Pertama Baris Ke 0 Pakai loc Mengakses Baris Berdasar Labelnya Kalau Iloc Yang Dipanggil Indeks Nya
print(df_array.loc[:, 'Jenis'])  # :, Mengakses Kolom Di Jenis ,:Mengakses Baris

0    Plastik
1     Kertas
2      Logam
3       Kaca
Name: Jenis, dtype: object

In [11]:
# Mengakses Baris Pertama Baris Ke 0 Pakai loc Mengakses Baris Berdasar Labelnya Kalau Iloc Yang Dipanggil Indeks Nya
print(df_array.loc[2, 'Jenis'])  # :, Mengakses Kolom Di Jenis ,:Mengakses Baris

Logam

In [14]:
# Iloc Mengakses Berdasar Indeks Ke 0
print(df_array.iloc[:, 0])  # :, Mengakses Kolom Di Jenis ,:Mengakses Baris

0    Plastik
1     Kertas
2      Logam
3       Kaca
Name: Jenis, dtype: object

In [ ]:
# Iloc Mengakses Berdasar Indeks -1 Mengakses Data Paling Akhir  lod = location iloc= Index Location
print(df_array.iloc[-1])  # :, Mengakses Kolom Di Jenis ,:Mengakses Baris

Jenis          Kaca
Berat (kg)        4
Daur Ulang    False
Name: 3, dtype: object

In [19]:
df_array

     Jenis Berat (kg) Daur Ulang
0  Plastik          5       True
1   Kertas          2       True
2    Logam          3       True
3     Kaca          4      False

In [ ]:
# Mengakses Baris Dari Index 0 Sampai n-1, Kolom 0 sampai n-1
print(df_array.iloc[0:3, 0:3])

     Jenis Berat (kg) Daur Ulang
0  Plastik          5       True
1   Kertas          2       True
2    Logam          3       True

In [17]:
# Mengubah DataFrame Menjadi DataFrame
import pandas as pd

nama = pd. Series (['Doni', 'Reno', 'Jhonny'])
usia = pd. Series ([25, 31, 32])

df = pd. DataFrame ({ 'Nama':nama, 'Usia':usia})

print(df)

     Nama  Usia
0    Doni    25
1    Reno    31
2  Jhonny    32

In [26]:
# Perulangan
import pandas as pd

data_dict = {
    'Jenis': ['Plastik', 'Kertas', 'Logam', 'Kaca'],
    'Berat (kg)': [5, 2, 3, 4],
    'Daur Ulang': [True, True, True, False]
}

df_dict = pd.DataFrame(data_dict)
# Menggunakan itterows untuk menginterasi DataFrame BAris Per baris
for index, row in df_dict.iterrows():
    print(f"{row['Daur Ulang']}")

True
True
True
False

In [33]:
# Menggunakan itterows untuk menginterasi DataFrame BAris Per baris
for index, row in df_dict.iterrows():
    a = row['Daur Ulang']
    if a == True:
    print(f"Jenis: {row['Jenis']}, Berat: {row['Berat (kg)']} kg, DaurUlang: {row['Daur Ulang']}")

IndentationError: expected an indented block after 'if' statement on line 4 (1214548259.py, line 5)

In [28]:
# Menggunakan itterows untuk menginterasi DataFrame BAris Per baris
daur_ulannd_df = df_dict[df_dict['Daur Ulang'] == True]
print(daur_ulannd_df)

     Jenis  Berat (kg)  Daur Ulang
0  Plastik           5        True
1   Kertas           2        True
2    Logam           3        True

In [ ]:
# Melakukan Operasi Aritmatika DI DataFrame Secara Langsung

# Contoh DataFrame

In [ ]:
# Baca Data CSV Jadi DataFrame
import pandas as pd

df_csv = pd.read_csv('coba.csv')

df_csv

     Jenis  Berat (kg)  Daur Ulang
0  Plastik           5        True
1   Kertas           2        True
2    Logam           3        True
3     Kaca           4       False

In [ ]:
# Baca Data Excel Pyhton Tidak Bisa Baca Adata Excel Secara Langsung HArus Pakai Library Menjadi DataFrame 

import pandas as pd

df_excel = pd.read_excel('Nama File', sheet_name='Nama Sheet')
df_excel